alive	1	sp23
alive	1	sp24
alive	1	sp25
alive	1	sp26
alive	1	sp27
alive	1	sp28
alive	1	sp29
alive	1	sp30
alive	1	sp31
alive	1	sp32
alive	1	sp33
alive	1	sp34
alive	1	sp35
alive	1	sp36
alive	1	sp37
alive	1	sp38
alive	1	sp39
alive	1	sp40
alive	1	sp41
alive	1	sp42
alive	1	sp43
alive	1	sp44
alive	1	sp45
alive	1	sp46
